.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #333;
  height: 2.25rem;
  overflow: hidden;
}

.item {
  display: inline-block;
  flex: 1 1;
  margin: .15rem;
  padding: .25rem .5rem;
  font-size: .8rem;
  text-decoration: none;
  line-height: 1.5rem;
  color: #f5f5f5;
  font-weight: bold;
  transition: transform .25s ease;
  text-align: center;
}

.item:hover {
  transform: scale(1.1);
}

.item.active {
  background-color: #f5f5f5;
  color: #333;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    padding: 0;
    min-height: 2.5rem;
    height: auto
  }

  .toggleMenu {
    position: absolute;
    padding: .575rem;
    right: 5%;
    transform: translateX(1rem);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-decoration: none;
    line-height: 1.5rem;
    font-size: 1.25rem;
  }
}

