.header {
    padding-bottom: 1rem;
    position: relative;
}

.title {
    font-size: 2.25rem;
    padding-right: 2.75rem;
}

.quote h3 {
    text-align: right;
    color: #777
}

.login {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 0;
    color: rgba(40,40,40,.3);
    font-size: 1.25rem;
}